
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .background {
      height: 100vh !important;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .skillsbackground{
    height: 1350px;

  }
  .soft{
    position: relative;
    right: 30px;
  }
}