
.backgroundColor {
    background-color: aqua !important;
    height: 100vh !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }