.App {
  font-family: "Poppins", sans-serif;
  height: 100;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .background {
    height: 100vh !important;
  
  }
}